{% extends "layout/main.twig" %}
{% block content %}
<div id="myCarousel" class="carousel slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ baseUrl }}/assets/img/banner-slide-1.jpg');"></div>
            <div class="carousel-caption slide-up">
                <h1 class="banner_heading">Portal <span>Pengaduan Online</span></h1>
                <p class="banner_txt">Dinas Pemberdayaan Perempuan Perlindungan Anak Pengendalian Penduduk dan Keluarga Berencana (DP3AP2KB) - Kota Malang.</p>
            </div>
        </div>
    </div>
</div>

<section id="process">
    <div class="container">
        <div class="section-heading text-center">
            <div class="col-md-12 col-xs-12">
                <h1> Layanan <span>Pengaduan Online</span></h1>
                <p class="subheading">
                  Sampaikan keluhan Anda (tindak kekerasan yang Anda / Orang lain alami), dan akan diproses oleh pihak yang berwajib.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 block process-block">
                <div class="process-icon-holder">
                    <div class="process-border">
                        <span class="process-icon"><a href="#"><i class="fa fa-lightbulb-o feature_icon"></i></a></span></div>
                    <div class="clearfix"></div>
                </div>

                <div class="process-text-block">
                    <h4><a href="#">Tulis Pengaduan</a></h4>
                    <p>
                      Laporkan keluhan dan data diri Anda, korban, dan pelaku secara jelas dan lengkap.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 block process-block">
                <div class="process-icon-holder">
                    <div class="process-border">
                        <span class="process-icon"><a href="#"><i class="fa fa-cloud-download feature_icon"></i></a></span></div>
                    <div class="clearfix"></div>
                </div>

                <div class="process-text-block">
                    <h4><a href="#">Proses Verifikasi</a></h4>
                    <p>Laporan Anda akan diverifikasi dalam waktu beberapa hari, dan akan diteruskan ke instansi yang berwenang.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 block process-block">
                <div class="process-icon-holder">
                    <div class="process-border">
                        <span class="process-icon"><a href="#"><i class="fa fa-magic feature_icon"></i></a></span></div>
                    <div class="clearfix"></div>
                </div>

                <div class="process-text-block">
                    <h4><a href="#">Proses Tindak Lanjut</a></h4>
                    <p>
                      Dalam beberapa hari Instansi yang berwenang akan menanggapi dan menindaklanjuti laporan Anda.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 block process-block lastchild">
                <div class="process-icon-holder">
                    <div class="process-border">
                        <span class="process-icon"><a href="#"><i class="fa fa-cog feature_icon"></i></a></span></div>
                    <div class="clearfix"></div>
                </div>

                <div class="process-text-block">
                    <h4><a href="#">Selesai</a></h4>
                    <p>Pengaduan Anda akan terus ditindaklanjuti hingga pelayanan terselesaikan.</p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
