<div class="animated fadeIn">
    <div ng-controller="lmahasiswaCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Data Mahasiswa</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-form-label-sm">Pilih Jurusan</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.jenisJurusan">
                                                <option ng-repeat="(key,row) in listJurusan" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DATA MAHASISWA</h2>
                                </br>
                            </center>
                            <div class="table-responsive">
                                <table border="1" class="table table-hover table-bordered table-print">
                                    <thead>
                                    <tr align="center">
                                        <th>No</th>
                                        <th>Jurusan</th>
                                        <th>Kelas</th>
                                        <th>NIM</th>
                                        <th>Nama</th>
                                        <th>Tanggal Lahir</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading" ng-repeat="val in dataMahasiswa">
                                    <tr>
                                        <td class="align-left">{{ $index + 1 }}</td>
                                        <td class="align-left">{{ val.nama_jurusan }}</td>
                                        <td class="align-left">{{ val.nama_kelas }}</td>
                                        <td class="align-left">{{ val.nim_mahasiswa }}</td>
                                        <td class="align-left">{{ val.nama_mahasiswa }}</td>
                                        <td class="align-left">{{ val.tgl_lahir_mahasiswa }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

