<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Pengaduan Online - DP3AP2KB Kota Malang </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/font-awesome.min.css">
    <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/skin.css">
    <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/main.css">
    <link rel="stylesheet" href="{{ baseUrl}}/app/library/angular-ui-select/dist/select.min.css" />
    <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/bootstrap-directional-buttons.css">
    <link rel="icon" type="image/png" href="{{ baseUrl}}/assets/img/logo-malang.png" sizes="32x32">
    <link href="{{ baseUrl}}/app/library/angularjs-toaster/toaster.min.css" rel="stylesheet" />

    <script src="{{ baseUrl}}/assets/script/jquery.min.js"></script>
    <script src="{{ baseUrl}}/assets/script/bootstrap.min.js"></script>
    <script src="{{ baseUrl}}/assets/script/angular.min.js"></script>
    <script src="{{ baseUrl}}/assets/script/index.js"></script>
    <script src="{{ baseUrl}}/app/library/angular-ui-select/dist/select.min.js"></script>
    <script src="{{ baseUrl}}/app/library/angularjs-toaster/toaster.min.js"></script>
    <script src="{{ baseUrl}}/app/library/angular-animate/angular-animate.min.js"></script>
</head>


<body id="wrapper" ng-app="myApp" ng-controller="myCtrl">

<script type="text/javascript">
    function setErrorMessage(n){var e="";return angular.forEach(n,function(n,o){e=e+" - "+n+"<br>"}),e}$(document).ready(function(){$("body").on("keypress",".angka",function(n){var e=n.which?n.which:event.keyCode;return!(e>31&&(48>e||e>57)&&45!=e&&46!=e)}),$("body").on("focus",".angka",function(){0==$(this).val()&&$(this).val("")}),$("body").on("blur",".angka",function(){""==$(this).val()&&$(this).val(0)}),$("input").keypress(function(n){13==n.keyCode&&n.preventDefault()})});
</script>
  {% include 'layout/navbar.twig' %}

  {% block content %}{% endblock %}

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Alamat</h4>
                        <hr/>
                        <p>
                          Jl. Raya Ki Ageng Gribig No.5, Kedungkandang, Kec. Kedungkandang,
                          <br> Kota Malang, Jawa Timur. Kode POS 65138.
                        </p>
                        <p>Telp. (0341) 717 744</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Sosial Media</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <!-- <a href="#">Terms of Use</a> -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Copyright 2019 - DP3AP2KB Kota Malang.
                </div>
            </div>
        </div>
    </section>  <!-- TO show the Notification Basic -->
  <toaster-container toaster-options="{'time-out': 3000,'position-class': 'toast-top-right'}"></toaster-container>


  <!-- If you Get Null values in your Function by defalut show this Template -->
  <script type="text/ng-template" id="toasterBodyTmpl.html">
      <p>Null values ! Here is your default template</p>
  </script>
<!--
    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div> -->
</body>

</html>
