<section id="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
        <ul class="contact_links">
          <li>
            <i class="fa fa-phone"></i>
            <a href="#"> (0341) 717 744</a>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <a href="#">admin@gmail.com</a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-md-5 col-sm-5 col-xs-5 social">
        <ul class="social_links">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-skype"></i>
            </a>
          </li>
        </ul>
      </div>
       -->
    </div>
  </div>
</div>

</section>

<header>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <!-- <h1>Aspire</h1>
          <!-- <span> -->

          <div class="col-md-3 col-xs-4">
            <!-- <span class="">Software Solutions</span> -->
            <img src="{{ baseUrl }}/assets/img/logo-malang.png" alt="" style="max-height:60px">
          </div>
          <div class="col-md-4 col-xs-4" style="margin-left:20px;width:120px;">
            <h5 class="header-text text-left">
              DP3AP2KB <br>
              Kota Malang
            </h5>
          </div>
          <!-- <div class="col-md-3">
            <span class="">Software Solutions</span>
          </div> -->
          <!-- </span> -->
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li class="{{ page == 'home' ? 'active' : '' }}">
            <a href="{{ baseUrl }}">Beranda</a>
          </li>
          <li class="{{ page == 'pengaduan' ? 'active' : '' }}">
            <a href="{{ baseUrl }}/pengaduan">Pengaduan</a>
          </li>
          <li class="{{ page == 'cek_proses' ? 'active' : '' }}">
            <a href="{{ baseUrl }}/cek_proses">Status Pengaduan</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</nav>
</header>
<!--/.nav-ends -->
