<div class="modal-header bg-primary">
    <h5 class="modal-title">Master Supplier | Form Tambah Data</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form name="landaform" novalidate="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm ">Nama Supplier</label>
                    <div class="col-md-9">
                        //ng model memanggil nama kolom pada db
                        <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                               ng-disabled="is_view"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm ">Telepon</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.no_telp"
                               ng-disabled="is_view"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm ">Alamat</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.alamat"
                               ng-disabled="is_view"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save(form)">
        <i class="fa fa-save"></i>
        Simpan
    </button>
</div>
